/BasicCalulator.class
/CharcterPrint.class
/Digit.class
/DigitUW.class
/Divisibleby3515.class
/EvenNumber.class
/GetdatesOfMonth.class
/Grade.class
/LeapYear.class
/NTo1.class
/digitOdd.class
/getday.class
/multiplication.class
/print5num.class
/GreatestOfDigit.class
/smallestDigit.class
